
.App {
  text-align: center;
}

.logo {
  color: white;
  align-content: flex-start;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -0.0em;
  font-family:  Helvetica, sans-serif;
}

.header {
  background-color: #F64747;
  height: 120px;
  padding: 40px;
  color: white;
  font-family: Gotham, Helvetica, sans-serif;
}

.h-btn {
  padding: 20px 25px 20px 25px;
  font-size: 30px;
  font-style: uppercase;
  font-weight: 400;
  letter-spacing: .1em;
  font-family: Gotham, Helvetica, sans-serif;
}

.h-btn:hover {
  background-color: white;
  color: #F64747;
}

.App-intro {
  font-size: large;
}

ul {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  float: left;

}

table {
    font-family: georgia;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    background-color: rgba(255,255,153,0.5);
}

td, th {
    border: 1px solid silver;
    text-align: left;
    height: 30px;
    padding: 8px;
}

th {
    background-color:lightblue;
    color: black;
    font-weight: bold;
}

td,tr{
  width: 100px;
  word-wrap: break-word;
}

.tdDescription{
  width:30%;
}

/*change the color of each row depending if its odd or even*/
tr:nth-child(odd) {
    background-color: silver;
    color: blue;
    font-size: 1.5em;
    width: 100px;
}
tr:nth-child(even) {
    background-color: lightblue;
    color: black;
    font-size: 1.5em;
    width: 100px;
}

textarea, input ,h3{
    background-color: white;
    border: 1px solid silver;
    color: black;
    font-size: 1em;
}

* {
  list-style-type: none;
}

.button{
  border: 2px solid black
}
.notVissible{
  visibility: hidden;
}
